@import "./variable.scss";

footer {
  padding-bottom: 80px;

  ul {
    li {
      a {
        color: $white;
        position: relative;
        &::before {
          content: "";
          width: 0;
          height: 5px;
          background: $white;
          position: absolute;
          bottom: -10px;
          left: 0;
          transition: width 0.3s;
        }
        &::after {
          content: "";
          width: 0;
          height: 5px;
          background: $white;
          position: absolute;
          bottom: -10px;
          right: 0;
          transition: width 0.3s;
        }
        &:hover::before {
          width: 50%;
        }
        &:hover::after {
          width: 50%;
        }
      }
    }
  }
}
